.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.byebug_history
public/node_modules
public/components/**/*.*
!public/components/**/*[.|-]min.*
# Custom ignore excludes for libs that don't follow the .min or -min convention
!public/components/normalize-css/normalize.css
